.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  overflow: visible;
  margin-top: -25px;
}

.webcam-container {
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.webcam-container video {
  border-radius: 20px;
}

.button-container {
  display: flex;
}

.button-container button {
  flex: 1 1 auto;
  border-radius: 10px;
  height: 2rem;
  color: #ffffff;
  background-color: #911111;
  font-size: large;
}

.overlay-info {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
